RewriteCond %{REQUEST_FILENAME} !-f #условия перенаправления (если это не файл)
RewriteCond %{REQUEST_FILENAME} !-d #условия перенаправления (если это не папка)
#Тогда выполним следующее правило переадресации
RewriteRule (.*) index.php?$1 [L,QSA] #(.*) -запомним все что в адресной строке и отправим на индексный файл index.php и get параметром добавляем все запомненое - ?$1 [L,QSA] - флаг, QSA - позволяет добавлять параметры в строке запроса к уже имеющимся, а не перезаписывать их.